h1{
  color: turquoise;
  text-align: center;
}

body {
  background-color:  pink;
}

/* ------ Nav Bar style ------ */
     ul {
display: inline-block;
list-style-type: none
margin: 0;
padding: 0;
background-color: turquoise;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

li {
float: left;
  text-align: center;
  width: 50px;
  padding: 25px 60px;
  display: block;
  text-decoration: none;
  display: inline-block;
}
li a {
display: block;
text-decoration: none;
color: antiquewhite;
text-align: center;

  li a:hover {
    background-color: turquoise;
